@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
@import url('../style/header.css');
*{
    padding: 0;
    margin: 0;
}

:root{
    --mainColor:#73230F;
    --whiteColor:#fefcf2;
    --blackColor:#090000;
}

::selection{
    color: var(--whiteColor);
    background: var(--mainColor);
}

body{
    color: var(--whiteColor);
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
    white-space:nowrap;
}

header{
    color: inherit;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 1.2% 0 1.2% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 23px;
    background: var(--blackColor);
    user-select: none;
}

.left{
    text-decoration: underline;
}

.middle{
    display: flex;
    gap: 4rem;
}

.right_hamburguer{
    display: none;
}

header a{
    text-decoration: none;
    color: inherit;
}

header a:hover{
    text-decoration: underline;
}

/* --------------------------------------------------------- */

section{
  width: 100%;
  height: 100vh;
}

#map{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.leaflet-bar{
  display: none;
}

#link{
  text-decoration: none;
  cursor: pointer;
  color: var(--blackColor);
  font-weight: 700;
  background: rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(3px) ;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.445);
  border-radius: 15px;
  padding: 1% 3%;
  position: absolute;
  z-index: 9;
  bottom: 12%;
  left:30%;
  font-size: 2.5vw;
}

#link:hover{
  color: var(--mainColor);
  
} 

/* --------------------------------------------------------- */

@media screen and (max-width:800px){
      @keyframes show_menu {
        from {
            height: 6vh;
        }

        to {
            height: 60vh;
        }
    }

    @keyframes hide_menu {
        from {
            height: 60vh;
        }

        to {
            height: 6vh;
        }
    }

    header {
        height: 6vh;
        font-size: 5vw;
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }

    .left {
        margin-left: 10%;
    }

    .middle {
        display: none;
    }

    .right {
        display: none;
    }

    .right_hamburguer {
        margin-right: 10%;
        display: block;
    }
    #link{
      font-weight: 700;
      border-radius: 15px;
      padding: 1% 3%;
      bottom: 12%;
      left:3%; 
      font-size: 6vw;
    }
}